<div class="parallax">
    <div class='hero-text'>
        <div>
            <h1>Fortisure<span>IT</span></h1>
            <h3>Training Young Students in IT</h3>
            <p>
                We train local young professionals in IT services, creating client relations, and providing high-quality
                service.
                We operate across Ohio and throughout the country.
            </p>
        </div>
    </div>
</div>