<div class='nav-wrap'>
    <div class='nav'>
        <a href='/' class="logo"><img src="img/FortisureIT-logo.svg" class='logo'></img></a>
        <a href="/#bottom" class='contact-us-btn'>
            <button>
                Contact!
            </button>
        </a>
        <a href='/about' class='about'>About</a>
    </div>
</div>