{{>nav}}
<div class="career-grid">
    <div class="career-header">
        <div class="parallax-2">
            <div class='hero-text-2'>
                <div>
                    <h1>It all starts here</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="career-video">
        <div class='video-header'>
            <div>
                <h2>Development Program</h2>
                <p>
                    The FortisureIT Development program is a highly technical educational program that is designed to
                    give students the best opportunity to succeed in the IT field. Our mission is to scale up our team
                    while also offering students of our local area a great career opportunity.
                </p>
            </div>
        </div>
        <div class='video'>
            <img src='https://via.placeholder.com/350x200'>
        </div>
    </div>
    <div class="career-info">
        <div class="it-essentials">
            <div class='it-words'>
                <h3>It Essentials</h3>
                <p>
                    IT Essentials is the first class that is offered to all students going through our development
                    program.
                    The purpose of this course is to give students fundamental knowledge of a variety of different IT
                    skills. No prerequisite knowledge required!
                </p>

                <p>
                    Upon completion of IT Essentials, students are awarded a certificate of achievement, letter of
                    recommendation, and students accepted to our internal training will prepare to take Data Science and
                    Development.
                </p>
            </div>
            <ul class='it-list'>
                <li>3 Hours a day</li>
                <li>Monday-Thursday for 6-7 Weeks </li>
                <li>Covering the following material</li>
                <ul>
                    <li>Computer Hardware</li>
                    <li>Software</li>
                    <li>Networking</li>
                    <li>Cybersecurity</li>
                    <li>Server Management</li>
                    <li>Database</li>
                    <li>Programming</li>
                </ul>
            </ul>
        </div>
        <div class="space"></div>
        <div class="data-science">
            <ul class="data-list">
                <li>3 Hours a day</li>
                <li>Monday-Thursday for 6-7 Weeks </li>
                <li>Covering the following material</li>
                <ul>
                    <li>SQL Server Setup & Administration</li>
                    <li>Database Design</li>
                    <li>Defining and Manipulating Data</li>
                    <li>Statistical Analysis</li>
                    <li>Data Science</li>
                    <li>Web & Application Design & Development</li>
                    <li>Web Server Administration</li>
                </ul>
            </ul>
            <div class="data-words">
                <h3>Data Science and Development</h3>
                <p>
                    Data Science and Development is the title for our second level internal training program. In this
                    vigorous course, students will learn everything they would need to know to work with database
                    management, data science, and full-stack web development.
                </p>
                <p>
                    After completing Data Science and Development, students are awarded a degree for their success in
                    the
                    class. Successful completion of this program will also earn students an interview with our hiring
                    team
                    for a potential offer to start your career with FortisureIT.
                </p>
            </div>
        </div>
        <div class="career-more">
            <div>
                <h4><a href="">Informational PDF</a></h4>
                <button class="get-started">
                    <a href='/#bottom'>Get Started!</a>
                </button>

            </div>

        </div>
    </div>
    {{> footer}}
</div>