{{>nav}}
<div class="">
    <h1 class="">Career Development</h1>
    <div class="">
        <h2></h2>
        <p>
        </p>
        <p>
        </p>
        <p>
        </p>
    </div>
    <div class="">
        <h2></h2>
        <p>
        </p>
        <p>
        </p>
        </p>
    </div>
    {{> footer}}
</div>