{{> nav}}
<div class="grid">
  <main>
    {{> hero-img}}
    <div class='hero-text'>
      <h1>Fortisure IT</h1>
      <h3>Training Young Students in IT</h3>
      <p>
        We train local young professionals in IT services, creating client relations, and providing high-quality
        service.
        We operate across Ohio and throughout the country.
      </p>
    </div>
  </main>
  <section>
    <div class="value-1">
      <h3>
        We take pride in our
        people.
      </h3>
      We dedicate ourselves to establishing
      a strong work ethic, and commitment
      to excellence, in our people.
    </div>
    {{!-- INFO BLIPS/BLURBS/SNIPPETS --------------------------------- --}}
    <h3 class="tb-1">Willing to scale and support to meet the needs of your business</h3>
    <img class="icon-1" src="img/icon-1.svg">
    <h3 class="tb-2">Giving young students the best opportunity to succeed in the IT Field.</h3>
    <img class="icon-2" src="img/icon-2.svg">
    <h3 class="tb-3">Data Driven Solutions Meets Front-End Applications</h3>
    <img class="icon-3" src="img/icon-3.svg">
    {{!-- OUR VALUES --------------------------------------------- --}}
      <div class="value-2">
        <h3>
          Our reputation is critical.
        </h3>Our clients' interests will
        always come first-we firmly
        believe that if we serve our
        customers well, our own
        success will follow.
      </div>
    {{!-- MISSION AND VISION --------------------------------------------- --}}
    <div class='mission-subgrid'>
      <div class='mission'>
        <h2>What we work on every day</h2>
        <p>Recruiting, in our local community, recent high school graduates who have the talent for IT
          services. We will provide them with training in technical, social, and work culture so that they have the skills
          to
          meet customer expectations.
        </p>
      </div>
      <img class="tech-students" src="/img/tech-students.jpg">
    </div>
    <div class='vision-subgrid'>
      <img class="tech-training" src="/img/tech-training.jpg">
      <div class="vision">
        <h2>What we want for our company</h2>
        <p>
          To build an IT services company that is respected by clients for the quality and service of its deliverables at
          a
          competitive price.
        </p>
      </div>
    </div>
    <div class="value-3">
      <h3>
        The work we put out, is the highest quality
      </h3>
      We will always
      seek to understand
      promise and over
      deliver. While profit
      making is essential to
      any business, for us it
      will never be at the
      expense of a customer
      or an employee.
    </div>
    
    {{!-- TRAINING SECTION ------------------------------------------------- --}}
    <div class="training">
      <h1>Training Culture</h1>
      <p>
        Free Training
      </p>
      <img src='img/down-icon.svg'>
      <p>
        Highly flexible training program
      </p>
      <img src='img/down-icon.svg'>
      <p>
        Giving high school students education after graduation
      </p>
      <img src='img/down-icon.svg'>
      <p>
        Career opportunities
      </p>
      <img src='img/down-icon.svg'>
      <p>
        Bringing IT jobs back to America
      </p>

      </ul>
    </div>
    {{> contact}}
  </section>
  {{> footer}}
</div>