{{> nav}}
<div class="grid">
  <main>
    {{> hero-img}}
  </main>
  <section>

    <div class="value-1">

      <h2>
        The work we put out, is the highest quality.
      </h2>
      <p>
        We will always
        seek to understand
        promise and over
        deliver. While profit
        making is essential to
        any business, for us it
        will never be at the
        expense of a customer
        or an employee.
      </p>
    </div>

    {{!-- INFO BLIPS/BLURBS/SNIPPETS --------------------------------- --}}
    <h4 class="tb-1">Willing to scale and support to meet the needs of your business</h4>
    <img class="icon-1" src="img/icon-1.svg">
    <h4 class="tb-2">Giving students the best opportunity to succeed in the IT Field.</h4>
    <img class="icon-2" src="img/icon-2.svg">
    <h4 class="tb-3">Data Driven Solutions Meets Front-End Applications</h4>
    <img class="icon-3" src="img/icon-3.svg">

    {{!-- CERTIFICATIONS ---------------------------------------------------- --}}
    <div class='certifications'>
      <img class='mta' src="img/mta.png">
      <div>
        <h2>MCSE Certifications</h2>
        <h4>Microsoft Certified Solutions Experts</h4>
        <p>We have experts on board, who have passed stringent exams and proved their skills to Microsoft.</p>
        <a href="https://www.microsoft.com/en-us/learning/mcse-data-management-analytics.aspx" target="_blank">Learn
          More...</a>
      </div>
    </div>

    <div class='certifications-2'>
      <img class='mta-2' src="img/mta-2.png">
      <div>
        <h2>MTA Certifications</h2>
        <h4>Microsoft Trained Associates</h4>
        <p>All of our employees have completed this level of the strict Microsoft Certification process.</p>
        <a href="https://www.microsoft.com/en-us/learning/mta-certification.aspx" target="_blank">Learn More...</a>
      </div>
    </div>

    {{!-- VALUE 2 ----------------------------------------------------------------- --}}
    <div class="value-2">
      <h2>
        Our reputation is critical.
      </h2>
      <p>
        Our clients' interests will
        always come first-we firmly
        believe that if we serve our
        customers well, our own
        success will follow.
      </p>
    </div>

    {{!-- MISSION AND VISION --------------------------------------------- --}}
    <div class='mission-subgrid'>
      <div class='mission'>
        <h2>What we work on every day</h2>
        <p>
          Recruiting, in our local community, students who have the passion for IT
          services. We will provide them with training in technical, social, and work culture so that they have the
          skills to meet customer expectations.
        </p>
      </div>
      <img class="tech-students" src="/img/tech-students.jpg">
    </div>
    <div class='vision-subgrid'>
      <img class="tech-training" src="/img/tech-training.jpg">
      <div class="vision">
        <h2>What we want for our company</h2>
        <p>
          To build an Data and Analytics services company that is respected by clients for the quality
          and service of its deliverables at a competitive price.
        </p>
      </div>
    </div>

    {{!-- VALUE 3 ------------------------------------------------------- --}}
    <div class="value-3">
      <h2>
        We take pride in developing our
        people.
      </h2>
      <p>
        Establishing a strong work ethic, commitment
        to excellence, and amazing interpersonal skills is what we do best.
      </p>
    </div>

    {{!-- TRAINING SECTION ------------------------------------------------- --}}
    <div class="training">
      <img class='graduates' src="img/Graduates.jpg">
      <div class="training-head">
        <h1>Development Culture</h1>
      </div>
      <div class='training-info'>
        <p>
          At FortisureIT we take pride in giving our people long lasting careers and a culture of lifelong learning.
        </p>
        <h3 class="a"><a href='/careers'>Learn More </a>about how we Develop our people</h3>
        <h3 class="b"><a href='/about'>Learn More</a> about where we come from</h3>
      </div>
    </div>
    {{> contact}}
  </section>
  {{> footer}}
</div>