{{>nav}}
<div class="s-sec1">
    <div class="greetings-title">
        <h1>Meet The Team</h1>
    </div>
</div>
<div class="ourTeam-top-container">
    <div></div>
    <div class="ourTeam-top-pillar a">
        <div class='ourTeam-top-nameNTitle a'>
            <h1>Scott Arnold</h1>
            <h4>Chief Analytics Officer</h4>
        </div>
        <img class='red-arrow b' src="img/red-arrow.svg"></img>
        <div class='ourTeam-top-description c'>
            <p>
                Scott was born and raised in Akron, Ohio and developed a love for technology and solving
                problems at
                a young age. He
                attended a Career-Technical IT program during high school at Portage Lakes Career Center
                which
                led
                him to starting a
                career in the IT field. Scott went on to earn a B.S. in Information Systems Management at
                the
                University of Akron and an
                MBA at Malone University. He also received a Career-Technical Teacher Education certificate
                from
                Kent State University.
                Scott has a diverse background working over 15 years in many areas of Information Technology
                including Technical
                Support, Networking, Business Intelligence, Web Application Programming, Data Modeling, Data
                Analysis/Reporting, IT
                Strategy/Planning, IT Management and Instructing. Scott joined FortisureIT initially as an
                Advisory
                Consultant to create
                the initial training program along with facilitating the steps necessary for the company to
                begin
                operations. He joined
                full-time in June 2020 and is tasked with leading the organization to provide exceptional
                technical
                services and
                products to create value for clients.
            </p>
        </div>
    </div>
    <div class="ourTeam-top-pillar b">
        <div class='ourTeam-top-nameNTitle a'>
            <h1>Rob Kozak</h1>
            <h4>Solutions Architect</h4>
        </div>
        <img class='red-arrow b' src="img/red-arrow.svg"></img>
        <div class='ourTeam-top-description c'>
            <p>
                Rob was born and raised in Valley View, OH and came to FortisureIT from MRI Software in which he was a
                Solutions
                Consultant. He brings a strong background in database knowledge along with working with end users to
                develop
                technical
                solutions. He earned a B.S. in Computer Science from Kent State University. Rob joined FortisureIT in
                July
                2019 and is
                tasked with architecting technical solutions that exceed client expectations along with coordinating and
                mentoring
                technical resources to ensure successful project completion.
            </p>
        </div>
    </div>
    <div class="ourTeam-top-pillar c">
        <div class='ourTeam-top-nameNTitle a'>
            <h1>Brandon Taylor</h1>
            <h4>Resource Developer</h4>
        </div>
        <img class='red-arrow b' src="img/red-arrow.svg"></img>
        <div class='ourTeam-top-description c'>
            <p>
                Brandon was born and raised in Akron, OH and came to FortisureIT from a Career-Technical IT program in
                which
                he was a
                student of Scott Arnold. He is currently pursuing a B.S. in Computer Information Systems at the
                University
                of Akron.
                Brandon joined FortisureIT in July 2018 and is tasked with ensuring the highest quality of content and
                delivery of our
                career development program along with finding the best local talent to join our organization.
            </p>
        </div>
    </div>
    <div></div>
</div>
{{!-- {{> footer}} --}}
{{!-- Whys the footer all a mess --}}
</div>