{{>nav}}
<div class="services-container">
    <h1 class="services-title">The Branches of our Company</h1>
    <div class="s-sec1">
        <div class="s-sec1-pillars">
            <div class="pillar a">
                <div>
                    <h2>Data Development</h2>
                    <img src='https://via.placeholder.com/150'>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                </div>
            </div>
            <div class="pillar b">
                <div>
                    <h2>Web Development</h2>
                    <img src='https://via.placeholder.com/150'>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                </div>
            </div>
            <div class="pillar c">
                <div>
                    <h2>Statistics & Analytics</h2>
                    <img src='https://via.placeholder.com/150'>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="s-sec2">
        <div class="s-sec2-services">
            <h3 class="work-title">Some of the many technologies we work with every day!</h3>
            <div class="s-sec2-icons">
                <img class='many-techs' src='img/many-techs.svg'>
            </div>
            <h3>A few of the Services we provide!</h3>
            <div class="s-sec2-list">
                <div class="service a">
                    <img src="img/015-database-migration.svg">
                    <h4>Data Migration</h4>
                </div>
                <div class="service b">
                    <img src="img/019-server-database-optimization.svg">
                    <h4>Database Optimization</h4>
                </div>
                <div class="service c">
                    <img src="img/034-user-admin-app.svg">
                    <h4>Frontend Admin Applications</h4>
                </div>
                <div class="service d">
                    <img src="img/048-binary-data-anal.svg">
                    <h4>Data Analysis</h4>
                </div>
                <div class="service e">
                    <img src="img/006-sql-database-admin.svg">
                    <h4>Database Administration</h4>
                </div>
                <div class="service f">
                    <img src="img/008-dashboard-web-applications.svg">
                    <h4>Web Applications</h4>
                </div>
                <div class="service g">
                    <img src="img/004-window-data-visual.svg">
                    <h4>Data Visualization</h4>
                </div>
                <div class="service h">
                    <img src="img/XMLID_611_predictive-model.svg">
                    <h4>Predictive Modeling</h4>
                </div>
                <div class="service i">
                    <img src="img/029-settings.svg">
                    <h4>And much more... </h4>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>